.alert {
   stroke: #ffff00;
   animation: fade 1s infinite alternate;
   animation-timing-function: ease-in-out;
}

.on {
   stroke: #ffff00;
}

.off {
   stroke: #0096ff;
}

.silent {
   stroke: #888888;
}

@keyframes fade {
  0% {
    opacity: 0; /* Transparent */
  }
  100% {
    opacity: 1; /* Opaque */
  }
}

